<!DOCTYPE html>
<html ng-app="unitTestingApp">
<head>
	<title>Unit Testing</title>
	<link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
<body>

	<div ng-controller="movieController as MovieCtrl">
		<button ng-click="MovieCtrl.loadMovies()">Load Movies</button>
		<div ng-repeat="movie in MovieCtrl.movies">
			<movie-card-directive movie-data="movie"></movie-card-directive>
		</div>
	</div>

	<!-- Third party libraries -->
	<script type="text/javascript" src="scripts/lib/angular.min.js"></script>
	<script type="text/javascript" src="scripts/lib/angular-mocks.js"></script>	

	<!-- Application specific scripts -->
	
	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="scripts/config/env.js"></script>
	<script type="text/javascript" src="scripts/config/routes.js"></script>
	<script type="text/javascript" src="scripts/config/urlMap.js"></script>

	<script type="text/javascript" src="scripts/app/controllers/movieController.js"></script>
	<script type="text/javascript" src="scripts/app/services/movieService.js"></script>
	<script type="text/javascript" src="scripts/app/factories/movieFactory.js"></script>
	<script type="text/javascript" src="scripts/app/resources/movieResource.js"></script>
	<script type="text/javascript" src="scripts/app/directives/movieCardDirective.js"></script>

</body>
</html>